/***********  IE6 + IE7 *********/
html* #menupanels {
	margin-top: 120px;
}
.accordion h3 {
	background-color: #2b2b2b;  
}
html* ul li {
	min-height: 30px;
}
html* .zero {
	height: 0px;
}
/*  IE6  */
*html #wrapper  {
	position: absolute;
}
*html ul li  {
	height: 0px;
	line-height:0;
}
html .panel {
	line-height: 16px;
	background-image: none;
}
*html img.bg {
	position: absolute; 
	width: 101%;
	margin: 0 -10000px -10000px 0;
	float: left;
}
*html h3 a {
	color: #fff;
}
